body{
    background-color: bisque;
}
header{
    background-color: #F7F7F7;text-align: center;padding: 18px;
}

nav{
    background-color: #FF7800;
}

aside{
    background-color: #F7F7F7;
    grid-column: 1/2;
}

section{    
    background-color: #FFBC97;
    text-align: justify;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}

article{
    background-color: #FFE300;
    grid-column: 2/6;
}

footer{
    background-color: #FF7800;padding: 12px;
}

.menu{
    padding: 0px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.menu>li{
    float: left;
}
.menu li a{
    background-color: black;
    color: #F7F7F7;
    text-decoration: none;
    padding: 20px 80px;
    display: block;
}

.menu li a:hover{
    background-color: #FFE300;
}

.menu li ul{
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    min-width: 140px;
}

.menu li:hover >ul{
    display: block;
}
.menu li ul li{
    position: relative;
}

.menu li ul li ul{
    right: 140px;
}
